@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

.bg-login {
  background-image: url('/assets/Login.svg');
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.5s ease-out;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.typing-animation {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  width: 100%;
  animation: typing 6s steps(21, end) infinite, blink-caret 0.75s step-end infinite;
}

#particles canvas {
  z-index: -100;
  height: 100%;
  width: 100%;
  position: absolute;
}